<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WikiCats</title>
</head>

<body>
  <header>
    <h1>WikiCats</h1>
  </header>

  <main>
    <div class="banner">
      <div class="banner-overlay">
        <h1>WikiCats Website kucing</h1>
        <h1>yang harus anda kunjungi</h1>
      </div>
    </div>

    <div class="search-section">
      <input type="text" id="searchBar" placeholder="Ketik nama kucing disini !">
    </div>

    <div class="modal modal-hidden" id="modal">
      <div class="modal-wrapper">
        <div class="modal-content">
          <div class="modal-header">
            <h3></h3>
            <i class="mdi mdi-close" id="closeModal"></i>
          </div>

          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>

    <cat-list></cat-list>
  </main>

  <footer>
    <h4>Made with <i class="mdi mdi-tailwind"></i> by Adrian 2023</h4>
  </footer>
</body>

</html>